section.video-employer
    .container
        .slider-container
            .b-articles__title
                .video-mobile__title
                    +icon('youtube')
                .b-articles__subtitle Видео:
                span 3
        .video-employer__list
            .swiper-wrapper
                .video-employer__item.swiper-slide
                    iframe(#ytplayer type="text/html"
                    src="https://www.youtube.com/embed/5ieXv9rnYaw?si=dXfpZWydYhFJe75C?enablejsapi=1&modestbranding=1&playsinline=1&color=white"
                    frameborder="0" allowfullscreen)
                    .video-employer__info
                        .video-employer__top
                            .video-employer__title Азат Мингалеев
                            a.video-employer__link(href="https://www.youtube.com/watch?v=5ieXv9rnYaw&ab_channel=%D0%9F%D0%BE%D0%B2%D0%B5%D1%81%D1%82%D0%BE%D0%BA.%D0%BD%D0%B5%D1%82" target="_blank") Смотреть на Youtube
                        .video-employer__desc Обязанности призывника перед военкоматом в 2023 году
                .video-employer__item.swiper-slide
                    iframe(#ytplayer type="text/html"
                        src="https://www.youtube.com/embed/5ieXv9rnYaw?si=dXfpZWydYhFJe75C?enablejsapi=1&modestbranding=1&playsinline=1&color=white"
                        frameborder="0" allowfullscreen)
                    .video-employer__info
                        .video-employer__top
                            .video-employer__title Азат Мингалеев
                            a.video-employer__link(href="https://www.youtube.com/watch?v=5ieXv9rnYaw&ab_channel=%D0%9F%D0%BE%D0%B2%D0%B5%D1%81%D1%82%D0%BE%D0%BA.%D0%BD%D0%B5%D1%82" target="_blank") Смотреть на Youtube
                        .video-employer__desc Обязанности призывника перед военкоматом в 2023 году
                .video-employer__item.swiper-slide
                    iframe(#ytplayer type="text/html"
                        src="https://www.youtube.com/embed/5ieXv9rnYaw?si=dXfpZWydYhFJe75C?enablejsapi=1&modestbranding=1&playsinline=1&color=white"
                        frameborder="0" allowfullscreen)
                    .video-employer__info
                        .video-employer__top
                            .video-employer__title Азат Мингалеев
                            a.video-employer__link(href="https://www.youtube.com/watch?v=5ieXv9rnYaw&ab_channel=%D0%9F%D0%BE%D0%B2%D0%B5%D1%81%D1%82%D0%BE%D0%BA.%D0%BD%D0%B5%D1%82" target="_blank") Смотреть на Youtube
                        .video-employer__desc Обязанности призывника перед военкоматом в 2023 году
        .button-3.min-w-429.video-load-more Все видео