section.tarif
    .container
        .slider-container
            h2.sub-title-2.pb-0 Независимо от тарифа вы получите
            .slider-navigation
                .slider-button-prev
                    +icon('arrow-left')
                .slider-button-next
                    +icon('arrow-right')
        .tarif-slider__wrapper
            .swiper.tarif-slider
                    ul.swiper-wrapper
                        li.swiper-slide.tarif-slider__card.block-height
                            .tarif-card__text
                                strong= "Изучим "
                                | правовую оценку действиям военкомата в отношении вас, укажем на допущенные ошибки
                        li.swiper-slide.tarif-slider__card.block-height
                            .tarif-card__text
                                strong= "Проанализируем "
                                |ваши медицинские документы и сопоставим их со статьями Расписания Болезней
                        li.swiper-slide.tarif-slider__card.block-height
                            .tarif-card__text
                                strong= "Расскажем"
                                |, как устроен процесс освобождения от службы в армии и получения военного билета
                        li.swiper-slide.tarif-slider__card.block-height
                            .tarif-card__text
                            strong= "Вы научитесь "
                            |отличать законные требования сотрудников военкомата от незаконных
                        li.swiper-slide.tarif-slider__card.block-height
                            .tarif-card__text
                            strong= "Оценим ваши реальные шансы "
                            |на законное зачисление в запас и предложим оптимальные варианты решения
                        li.swiper-slide.tarif-slider__card.block-height
                            .tarif-card__text Вы получите план действий на ближайший призыв абсолютно БЕСПЛАТНО
                        li.swiper-slide.tarif-slider__card.block-height
                            .tarif-card__text Проанализируем ваши медицинские документы и сопоставим их со статьями Расписания Болезней
                    .swiper-pagination

